@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


body {
    background-image: linear-gradient(45deg, #f3f3f3, #cadac2);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 750px;
}

.card-preview {
    position: relative;
    background-color: #aad8e9;
    color: #fff;
    height: 600px;
}

.images-container {
    position: relative;
    z-index: 1;
}

.images-container img {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.dot {
    height: 14px;
    width: 14px;
    margin: 0 8px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.dot:hover {
    transform: scale(1.2);
}

.dot.active {
    background-color: #555;
    transform: scale(1.3);
}

.card-info {
	padding: 30px;
	position: relative;
	width: 100%;
}